<app-templates></app-templates>
<app-styles></app-styles>
<div class="app-css-selector"></div>
<app-property-binding></app-property-binding>
<app-two-way-data-binding></app-two-way-data-binding>

<div class="container">
        <div class="row">
           <div class="col-md-6">
            <h3>This title is normal one</h3>
            <h3 appRedblack>This title is custom (DIRECTIVE)</h3>
        </div>
        </div>
</div>

<div class="container">
        <div class="row">
           <div class="col-md-6">
            <h3>This title is normal one</h3>
            <h3>{{"This title is custom (PIPE)"| myUpperCase}}</h3>
        </div>
        </div>
</div>
